{% extends ':template:base.html.twig' %}

{% block contentheader %}

    <section class="content-header">
        <h1>
            Departamento
            <small>Editar</small>
        </h1>
    </section>

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-6 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="row">


                        <div class="col-md-2 col-xs-2 col-sm-1">
                            <a href="{{ path('adm_departamento_index') }}" class="btn btn-primary btn-sm">
                                <span class="fa fa-reply"></span>
                                Voltar
                            </a>
                        </div>

                        <div class="col-md-2 col-xs-2 col-sm-1">
                            {{ form_start(delete_form) }}
                            <button type="submit" class="btn btn-danger btn-sm remover-form">
                                <span class="glyphicon glyphicon-trash"></span>
                                Deletar
                            </button>
                            {{ form_end(delete_form) }}
                        </div>

                    </div>

                </div>
                <div class="panel-body">

                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <button type="submit" class="btn btn-primary btn-sm" value="{{ template.buttons.buttonSave }}">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Salvar
                    </button>
                    {{ form_end(edit_form) }}

                </div>
                <div class="panel-footer">

                </div>
            </div>

        </div>

    </div>

{% endblock %}
