{% extends ':template:base.html.twig' %}


{% block contentheader %}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-6 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Novo Departamento</h3>
                </div>
                <div class="panel-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        {#{{ template.buttons.buttonSave }}#}
                    </button>
                    {{ form_end(form) }}

                </div>
                <div class="panel-footer">
                    <a href="{{ path('adm_departamento_index') }}" class="btn btn-primary">
                        <span class="fa fa-reply"></span>
                        {#{{ template.buttons.buttonReturn }}#}
                    </a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}