{% extends ':template:base.html.twig' %}

{% block contentheader %}

    <section class="content-header">
        <h1>
            Departamento
            <small>Mostrar</small>
        </h1>
    </section>

{% endblock %}

{% block content %}


    <div class="row">

        <div class="col-md-6 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="row">

                        <div class="col-md-2 col-xs-2 col-sm-1">

                            <a href="{{ path('adm_departamento_index') }}" class="btn btn-primary btn-sm">
                                <span class="fa fa-reply"></span>
                                Voltar
                            </a>
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-1">

                            <a href="{{ path('adm_departamento_edit', { 'id': tbDepartamento.depCodigo }) }}" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                Editar
                            </a>
                        </div>

                        {% if is_granted('ROLE_Técnico-ADM') %}
                            <div class="col-md-2 col-xs-2">
                                {{ form_start(delete_form) }}
                                <button type="submit" class="btn btn-danger btn-sm remover-form">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Deletar
                                </button>
                                {{ form_end(delete_form) }}
                            </div>
                        {% endif %}


                    </div>

                </div>
                <div class="panel-body">

                    <table class="table table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <th>Descrição:</th>
                            <td>{{ tbDepartamento.depDescricao }}</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>{{ tbDepartamento.depEmail }}</td>
                        </tr>
                        <tr>
                            <th>Permite Listar chamado:</th>
                            <td>{% if tbDepartamento.proPermiteListarChamado %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">

                </div>

            </div>
        </div>

    </div>

    </div>

{% endblock %}