    {% extends ':template:template.html.twig' %}


    {% block contentheader %}


    <section class="content-header">
        <h1>
            StatusProduto
            <small>Listar</small>
        </h1>
    </section>


    {% endblock %}


    {% block panelheading %}
    <a href="{{ path('cadastro_statusproduto_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>    {% endblock %}

    {% block panelbody %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Mostrar</th>
                <th>Editar</th>
                    <th>Descricao</th>
                    <th>Status</th>
                    <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {% for statusProduto in statusProdutos %}
            <tr>
                        <td><a href="{{ path('cadastro_statusproduto_show', { 'id': statusProduto.id }) }}">{{ statusProduto.descricao }}</a></td>
                        <td>{{ statusProduto.status }}</td>
                        <td>{{ statusProduto.id }}</td>                            <td>
                                <a href="{{ path('cadastro_statusproduto_show', { 'id': statusProduto.id }) }}" class="btn btn-primary btn-sm">
                                    <span class="glyphicon"></span>
                                    show
                                </a>
                            </td>                            <td>
                                <a href="{{ path('cadastro_statusproduto_edit', { 'id': statusProduto.id }) }}" class="btn btn-primary btn-sm">
                                    <span class="glyphicon"></span>
                                    edit
                                </a>
                            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% endblock %}
