    {% extends ':template:template.html.twig' %}



    {% block contentheader %}

    <section class="content-header">
        <h1>
            Tipo Resposta
            <small>Mostrar</small>
        </h1>
    </section>

    {% endblock %}

    {% block panelheading %}

        <div class="row">

    <div class="col-md-2 col-sm-3 col-xs-3">

        <a href="{{ path('tiporesposta_index') }}" class="btn btn-primary btn-sm">
            <span class="fa fa-reply"></span>
            Voltar
        </a>

    </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('tiporesposta_edit', { 'id': tbTipoRespostum.tirCodigo }) }}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3">
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-sm remover-form">
                <span class="glyphicon glyphicon-trash"></span>
                Deletar
            </button>
            {{ form_end(delete_form) }}

        </div>
</div>{% endblock %}



    {% block panelbody %}

    <div class="table table-responsive">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Tipo de Atendimento</th>
                        <td>{{ tbTipoRespostum.atCodigo }}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                        <td>{{ tbTipoRespostum.tirTitulo }}</td>
                </tr>
                <tr>
                    <th>Descrição</th>
                        <td>{{ tbTipoRespostum.tirDescricao }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if tbTipoRespostum.tirStatus %}
                            Ativo
                        {% else %}
                            Inativo
                        {% endif %}
                    </td>
                </tr>
             </tbody>
        </table>
    </div>


    {% endblock %}
