    {% extends ':template:template.html.twig' %}


    {% block contentheader %}


    <section class="content-header">
        <h1>
            ApontamentoProduto
            <small>Listar</small>
        </h1>
    </section>


    {% endblock %}


    {% block panelheading %}
    <a href="{{ path('cadastro_apontamentoproduto_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>    {% endblock %}

    {% block panelbody %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Mostrar</th>
                <th>Editar</th>
                    <th>Datacriacao</th>
                    <th>Usuarioid</th>
                    <th>Descricao</th>
                    <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {% for apontamentoProduto in apontamentoProdutos %}
            <tr>
                        <td><a href="{{ path('cadastro_apontamentoproduto_show', { 'id': apontamentoProduto.id }) }}">{{ apontamentoProduto.dataCriacao }}</a></td>
                        <td>{{ apontamentoProduto.usuarioId }}</td>
                        <td>{{ apontamentoProduto.descricao }}</td>
                        <td>{{ apontamentoProduto.id }}</td>                            <td>
                                <a href="{{ path('cadastro_apontamentoproduto_show', { 'id': apontamentoProduto.id }) }}" class="btn btn-primary btn-sm">
                                    <span class="glyphicon"></span>
                                    show
                                </a>
                            </td>                            <td>
                                <a href="{{ path('cadastro_apontamentoproduto_edit', { 'id': apontamentoProduto.id }) }}" class="btn btn-primary btn-sm">
                                    <span class="glyphicon"></span>
                                    edit
                                </a>
                            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% endblock %}
