{% extends ':template:template.html.twig' %}


    {% block contentheader %}

        <section class="content-header">
            <h1>
                Apontamento Produto
                <small>Novo</small>
            </h1>
        </section>

    {% endblock %}


    {% block panelheading %}

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_produto_show',{ 'id' : produto.id  }) }}" class="btn btn-primary btn-sm">
                    <span class="fa fa-reply"></span>
                    Produto
                </a>

            </div>
        </div>
    {% endblock %}


    {% block panelbody %}

        {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

        {{ form_row(form.tapCodigo) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Salvar
        </button>
        {{ form_end(form) }}

    {% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>

        $('body').on('change',"#apontamento_produto_tapCodigo",function(){

            $("#apontamento_produto_descricao").html($('#apontamento_produto_tapCodigo :selected').text());
            //alert($(this).text());

        });


        $("#apontamento_produto_tapCodigo").select2();

    </script>

{% endblock %}

