{% extends '@SAAtendimento/tbatendimento/template/template.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/saatendimento/css/nv.d3.css') }}">

    <style>

        svg {
            display: block;
            float: left;
            height: 350px !important;
            width: 450px !important;
        }

    </style>

{% endblock %}

{% block contentheader %}
    <section class="content-header">
        <h1>
            Atendimento
            <small>Por Status</small>
        </h1>
    </section>
{% endblock %}

{% block firstrow %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="row">

                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atDataRetornoA) }}

                        {{ form_widget(form.atDataRetornoA) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atDataRetornoB) }}
                        {{ form_errors(form.atDataRetornoB) }}
                        {{ form_widget(form.atDataRetornoB) }}
                    </div>

                </div>

            </div>

            <div class="panel-footer">

                <div class="input-load">
                <button class="btn btn-default btn-sm input-search">
                    <span class="glyphicon glyphicon-search"></span>
                    Procurar
                </button>
                </div>
                {{ form_end(form) }}

            </div>

        </div>

    </div>

{% endblock %}

{% block panelheading%}

{% endblock %}

{% block panelbody %}

    <div class="row">
        {% for tbAtendimento in tbAtendimentos %}

            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-phone-square"></i>
                    </span>

                    <div class="info-box-content bg-aqua-active">
                        <span class="info-box-text">{{ tbAtendimento.Status }}</span>
                        <span class="info-box-number">{{ tbAtendimento.Quantidade }}</span>
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <svg id="chart"></svg>
            </div>
        </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/saatendimento/js/d3.min.js') }}"></script>
    <script src="{{ asset('bundles/saatendimento/js/nv.d3.js') }}"></script>

    <script>
        //Regular pie chart example
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                    .y(function(d) { return d.Quantidade })
                    .x(function(d) { return d.Status })
                    .showLabels(true)
                    .labelThreshold(.01)
                    .duration(500)
                    .labelType("percent")
                    .valueFormat(d3.format('.0f'))
                    ;

            d3.select("#chart")
                    .datum(getData())
                    .transition().duration(10350)
                    .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });

        //Pie chart data. is only a single array of key-value pairs.
        function getData() {
            return {{ atedimentoJSON|raw }}
        }

    </script>

{% endblock %}