{% extends ':template:template.html.twig' %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                Produto
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}

 {% block firstrow %}
     <div class="col-md-6 col-sm-12 col-xs-12">

         <div class="box box-primary collapsed-box">
             <div class="box-header with-border">
                 <h3 class="box-title">
                     <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                         <i class="fa fa-plus"></i>
                         Protocolo de Atendimento
                     </button>
                     <span class="label label-default">{{ atendimento.atCodigo }}</span>
                 </h3>

                 <div class="box-tools pull-right">

                 </div>
                 <!-- /.box-tools -->
             </div>
             <!-- /.box-header -->
             <div class="box-body" style="display: none;">
                 {{ include('SAAtendimentoBundle:tbatendimento/template:tableshow.html.twig', { 'tbAtendimento' : atendimento }) }}
             </div>
             <!-- /.box-body -->
         </div>
     </div>

     <div class="col-md-6 col-sm-12 col-xs-12">
         {{ render(controller('SAAtendimentoBundle:TbApontamento:index',{ 'atendimento' : atendimento.atCodigo })) }}
     </div>

 {% endblock %}


    {% block panelheading %}


        <a href="{{ path('atendimento_show',{ 'id' : atendimento.id }) }}" class="btn btn-primary btn-sm">
            <span class="fa fa-phone-square"></span>
            Mostrar Atendimento
        </a>


        {% if atendimento.satCodigo.satCodigo != 3 %}
        <a href="{{ path('cadastro_produto_new',{ 'atendimento' : atendimento.id }) }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo Produto
        </a>
        {% endif %}

    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>Opções</th>
                    <th>Codigo TP</th>
                    <th>Codigo SCODES</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>
                            <a href="{{ path('cadastro_produto_show', { 'id': produto.id }) }}" class="btn btn-primary btn-xs link-search">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        <td>{{ produto.codigoTp }}</td>
                        <td>{{ produto.codigoScodes }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>{{ produto.status.descricao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}
