{% extends '@SAAtendimento/tbatendimento/template/template.html.twig' %}

{% block contentheader %}
    <section class="content-header">
        <h1>
            Atendimento
            <small>Listagem: {{ tbAtendimentos|length }} resultado(s)</small>
        </h1>
    </section>
{% endblock %}

{% block firstrow %}
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="box box-primary">

            <div class="box-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="row">

                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.satCodigo) }}
                        {{ form_errors(form.satCodigo) }}
                        {{ form_widget(form.satCodigo) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.taCodigo) }}
                        {{ form_errors(form.taCodigo) }}
                        {{ form_widget(form.taCodigo) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.usuCodigo) }}
                        {{ form_errors(form.usuCodigo) }}
                        {{ form_widget(form.usuCodigo) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.tdCodigo) }}
                        {{ form_errors(form.tdCodigo) }}
                        {{ form_widget(form.tdCodigo) }}
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atDataRetornoA) }}

                        {{ form_widget(form.atDataRetornoA) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atDataRetornoB) }}
                        {{ form_errors(form.atDataRetornoB) }}
                        {{ form_widget(form.atDataRetornoB) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atPaciente) }}
                        {{ form_errors(form.atPaciente) }}
                        {{ form_widget(form.atPaciente) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.ttpCodigo) }}
                        {{ form_errors(form.ttpCodigo) }}
                        {{ form_widget(form.ttpCodigo) }}
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <div class="input-load">
                                        <button class="btn btn-default pull-left input-search"
                                                data-toggle="tooltip" data-placement="bottom" data-delay="1000"
                                                title="Pesquisar de acordo com os filtros utilizados">
                                            <span class="glyphicon glyphicon-search"></span>
                                            Procurar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6">

                                <div class="form-group">
                                    <a href="{{ path('atendimento_index') }}" class="btn btn-default pull-right link-search"
                                       data-toggle="tooltip" data-placement="bottom" data-delay="1000"
                                       title="Limpar os filtros utilizados">
                                        <span class="glyphicon glyphicon-erase"></span>
                                        Limpar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atProcesso) }}
                        {{ form_errors(form.atProcesso) }}
                        {{ form_widget(form.atProcesso) }}
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atMedicamento) }}
                        {{ form_errors(form.atMedicamento) }}
                        {{ form_widget(form.atMedicamento) }}
                    </div>

                    <div class="form-group col-md-3 col-sm-3 col-xs-6">
                        {{ form_label(form.atLocalidade) }}
                        {{ form_errors(form.atLocalidade) }}
                        {{ form_widget(form.atLocalidade) }}
                    </div>

                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block panelheading%}

    <div class="row">
        <div class="col-md-12 col-xs-12">

            {#<div class="navigation pull-left">#}
            {#{{ knp_pagination_render(tbAtendimentos) }}#}
            {#</div>#}

            <div class="pull-left">
                <a href="{{ path('atendimento_new') }}" class="btn btn-primary btn-sm link-search"
                   data-toggle="tooltip" title="Novo Atendimento">
                    <span class="glyphicon glyphicon-plus"></span>
                    Novo
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block panelbody %}
    <div class="table table-responsive">
        <table class="table table-bordered table-hover table-condensed table-striped">
            <thead>
            <tr>
                <th>Opções</th>
                <th>Protocolo de Atendimento</th>
                <th>Data do Atendimento</th>
                <th>Data de Retorno</th>
                <th>Status</th>
                <th>Tipo de Atendimento</th>
                <th>Paciente</th>
                <th>Atendente Inicial</th>
                <th>Atendente Atual</th>
            </tr>
            </thead>
            <tbody>
            {% for tbAtendimento in tbAtendimentos %}
                <tr>
                    <td>
                        <a href="{{ path('atendimento_show',{'id': tbAtendimento.atCodigo}) }}" class="btn btn-primary btn-xs link-search"
                           data-toggle="tooltip" title="Mostrar Atendimento">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>

                    {% if tbAtendimento.satCodigo == 'PENDENTE' %}
                        <a href="{{ path('atendimento_edit',{'id': tbAtendimento.atCodigo}) }}" class="btn btn-primary btn-xs link-search"
                           data-toggle="tooltip" title="Editar Atendimento">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    {% endif %}

                    </td>
                    <td>{{ tbAtendimento.atCodigo }}</td>
                    <td>{{ tbAtendimento.atDataCadastroReal|date('d-m-Y H:i:s') }}</td>
                    <td>{% if tbAtendimento.atDataRetorno %}{{ tbAtendimento.atDataRetorno|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ tbAtendimento.satCodigo }}</td>
                    <td>{{ tbAtendimento.taCodigo }}</td>
                    <td>{{ tbAtendimento.atPaciente }}</td>
                    <td>{{ tbAtendimento.usuCodigo }}</td>
                    <td>{{ tbAtendimento.atendente }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
