{% extends '@SAAtendimento/tbusuario/template/template.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/saatendimento/css/dataTables.bootstrap.css') }}">

{% endblock %}

{% block panelheading %}

    <a href="{{ path('admin_usuario_new') }}" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Novo
    </a>

{% endblock %}

{% block panelbody %}

    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
            <thead>
            <tr>
                <th>Opções</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-mail</th>
                <th>Ramal</th>
                <th>Cargo</th>
                <th>DRT</th>
                <th>Lista Chamado</th>
                <th>Departamento</th>
                <th>Tipo de Acesso</th>
            </tr>
            </thead>
            <tbody>
            {% for tbUsuario in tbUsuarios %}
                <tr>
                    <td>
                        <a href="{{ path('admin_usuario_show', { 'id': tbUsuario.usuCodigo }) }}" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>

                        <a href="{{ path('admin_usuario_edit', { 'id': tbUsuario.usuCodigo }) }}" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                    </td>
                    <td><a href="{{ path('admin_usuario_show', { 'id': tbUsuario.usuCodigo }) }}">{{ tbUsuario.usuNome }}</a></td>
                    <td>{{ tbUsuario.usuSobrenome }}</td>
                    <td>{{ tbUsuario.usuEmail }}</td>
                    <td>{{ tbUsuario.usuRamal }}</td>
                    <td>{{ tbUsuario.usuCargo }}</td>
                    <td>{{ tbUsuario.usuDrt }}</td>
                    <td>{{ tbUsuario.usuPermiteAtedimento }}</td>
                    <td>{{ tbUsuario.depCodigo.depDescricao }}</td>
                    <td>{{ tbUsuario.tacCodigo.tacDescricao }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/saatendimento/js/jquery-datatable.js') }}"></script>
    <script src="{{ asset('bundles/saatendimento/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/saatendimento/js/mrs-dataTable.js') }}"></script>


{% endblock %}