    {% extends ':template:template.html.twig' %}



    {% block contentheader %}

    <section class="content-header">
        <h1>
            TbTipoAtendimento
            <small>Mostrar</small>
        </h1>
    </section>

    {% endblock %}

    {% block panelheading %}

        <div class="row">

    <div class="col-md-2 col-sm-3 col-xs-3">

        <a href="{{ path('tipoatendimento_index') }}" class="btn btn-primary btn-sm">
            <span class="fa fa-reply"></span>
            Voltar
        </a>

    </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('tipoatendimento_edit', { 'id': tbTipoAtendimento.atCodigo }) }}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3">
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
                Deletar
            </button>
            {{ form_end(delete_form) }}

        </div>
</div>{% endblock %}



    {% block panelbody %}

    <div class="table table-responsive">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Atdescricao</th>
                        <td>{{ tbTipoAtendimento.atDescricao }}</td>
                </tr>
                <tr>
                    <th>Atativo</th>
                        <td>{{ tbTipoAtendimento.atAtivo }}</td>
                </tr>
                <tr>
                    <th>Attextopadrao</th>
                        <td>{{ tbTipoAtendimento.atTextoPadrao }}</td>
                </tr>
                <tr>
                    <th>Atcodigo</th>
                        <td>{{ tbTipoAtendimento.atCodigo }}</td>
                </tr>
            </tbody>
        </table>
    </div>


    {% endblock %}
