{% extends ':template:template.html.twig' %}


    {% block contentheader %}

        <section class="content-header">
            <h1>
                Alterar
                <small>Senha</small>
            </h1>
        </section>

    {% endblock %}

    {% block panelheading %}

        <div class="row">
            {% for message in app.session.flashBag.get('info') %}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-{{ message.type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="fa fa-info"></i> {{ message.message }}. <i class="fa fa-smile-o"></i>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3">
                <b>Usuário:</b> {{ tbAcesso.username }}
            </div>
        </div>
    {% endblock %}

    {% block panelbody %}


        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Alterar Senha
        </button>
        {{ form_end(edit_form) }}

    {% endblock %}

